DTD Lab 2 Bestellung.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ENTITY % Bestellinformationen SYSTEM "DTD Lab 2 Bestellinformationen.mod">
<!ELEMENT Bestellung (Bestellinformationen)>
<!ELEMENT Bestellkopf (Besteller, Datum, Rechnungsadresse?, Lieferadresse*)>
<!ELEMENT Bestellpositionen (Bestellnummer, Bestellmenge, Beschreibung?)>
%Bestellinformationen;

	
	
